[submodule "develop"]
	path = develop
	url = https://github.com/yudonguk/device.git
[submodule "kinect"]
	path = kinect
	url = https://github.com/yudonguk/KinectComp.git
[submodule "test"]
	path = develop/remote
	url = https://github.com/yudonguk/RemoteRobot.git
